@font-face {
  font-family: "iconfont"; /* Project id 3400510 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1654313111317') format('woff2'),
       url('iconfont.woff?t=1654313111317') format('woff'),
       url('iconfont.ttf?t=1654313111317') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yangshengqi:before {
  content: "\e613";
}

.icon-jingyin:before {
  content: "\e676";
}

.icon-zanting:before {
  content: "\e87a";
}

.icon-bofang:before {
  content: "\e87c";
}

.icon-yinliangjian:before {
  content: "\e635";
}

.icon-yinliangjia:before {
  content: "\e636";
}

.icon-bg-backward:before {
  content: "\e642";
}

.icon-bg-forward:before {
  content: "\e645";
}

.icon-shengao:before {
  content: "\e7ca";
}

.icon-iconsg:before {
  content: "\e60d";
}

.icon-icontz:before {
  content: "\e60e";
}

.icon-xueli:before {
  content: "\e663";
}

.icon-xingming:before {
  content: "\e60f";
}

.icon-nianling:before {
  content: "\e673";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-chushengriqi:before {
  content: "\e64a";
}

.icon-chushengriqi1:before {
  content: "\e610";
}

.icon-xueli1:before {
  content: "\e611";
}

.icon-xueli2:before {
  content: "\e608";
}

.icon-jidian:before {
  content: "\ef12";
}

.icon-chengjijidian:before {
  content: "\e68f";
}

.icon-yingyushuiping:before {
  content: "\e6c6";
}

.icon-31daipingjia:before {
  content: "\e606";
}

.icon-mydata:before {
  content: "\e67c";
}

.icon-pingjia:before {
  content: "\e641";
}

.icon-zhuanyezhishijineng:before {
  content: "\e7b6";
}

.icon-xingquaihao:before {
  content: "\e62c";
}

.icon-wodeziliao:before {
  content: "\e62e";
}

.icon-yuleaihao:before {
  content: "\e6ac";
}

.icon-zuopin1:before {
  content: "\e60b";
}

.icon-icon-rgb_jiqixuexisuanfayinqing:before {
  content: "\e6f4";
}

.icon--:before {
  content: "\e640";
}

.icon-mysql:before {
  content: "\e6c8";
}

.icon-shujujiegou2:before {
  content: "\e618";
}

.icon-Python:before {
  content: "\e891";
}

.icon-shoudie:before {
  content: "\e79d";
}

.icon-shouye:before {
  content: "\e600";
}

.icon-html5:before {
  content: "\e602";
}

.icon-guanyuwo:before {
  content: "\e603";
}

.icon-icon:before {
  content: "\e668";
}

.icon-html51:before {
  content: "\e743";
}

.icon-weixin:before {
  content: "\e61a";
}

.icon-xiexing:before {
  content: "\e8e3";
}

.icon-liuyan:before {
  content: "\e638";
}

.icon-weixin1:before {
  content: "\e67b";
}

.icon-GitHub:before {
  content: "\ea0a";
}

.icon-liuyan1:before {
  content: "\e614";
}

.icon-shujujiegou:before {
  content: "\e684";
}

.icon-zhuye:before {
  content: "\e62f";
}

.icon-CSS:before {
  content: "\e705";
}

.icon-csdn:before {
  content: "\e639";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-zhuye1:before {
  content: "\e671";
}

.icon-xuexiao:before {
  content: "\e6be";
}

.icon-xuefen:before {
  content: "\e694";
}

.icon-weixin2:before {
  content: "\e637";
}

.icon-github:before {
  content: "\e6f6";
}

.icon-shujujiegou1:before {
  content: "\e609";
}

.icon-xuexiao_xuexiaoxinxi:before {
  content: "\e661";
}

.icon-guanyuwomen:before {
  content: "\e60a";
}

.icon-EMAIL:before {
  content: "\e7e8";
}

.icon-QQ1:before {
  content: "\e667";
}

.icon-xiangmukuzixiangmuyusuanxiadashenqingbiao:before {
  content: "\e66d";
}

.icon-zuopinzhuzuo:before {
  content: "\e650";
}

.icon-suibi:before {
  content: "\e65c";
}

.icon-xiangmu:before {
  content: "\e615";
}

.icon-email-fill:before {
  content: "\e77e";
}

.icon-html:before {
  content: "\e632";
}

.icon-java:before {
  content: "\e63a";
}

.icon-liuyan2:before {
  content: "\e612";
}

.icon-gitee-fill-round:before {
  content: "\e686";
}

.icon-js:before {
  content: "\e621";
}

.icon-sex:before {
  content: "\e653";
}

.icon-html52:before {
  content: "\ea0b";
}

.icon-weixin3:before {
  content: "\e607";
}

.icon-xiexing1:before {
  content: "\ea0c";
}

.icon-zuopin:before {
  content: "\e604";
}

.icon-gitee:before {
  content: "\e605";
}

.icon-wodesuibi:before {
  content: "\e689";
}

.icon-gitee1:before {
  content: "\e60c";
}

.icon-java1:before {
  content: "\e69a";
}

.icon-banben:before {
  content: "\e620";
}

.icon-luyan:before {
  content: "\e62d";
}

.icon-luyanting:before {
  content: "\e601";
}

.icon-Vue:before {
  content: "\e799";
}

.icon-luyanting1:before {
  content: "\e6b1";
}

.icon-dingzhi:before {
  content: "\e651";
}

.icon-xiangqingfenxi:before {
  content: "\e688";
}

